<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.phonegap.helloworld" version="1.0.0">
  <name>meMO</name>
  <description>meMO</description>
  <author href="http://phonegap.com" email="support@phonegap.com">Sivasankari</author>
  <content src="index.html"/>
  <feature name="Notification">
        <param name="android-package" value="org.apache.cordova.dialogs.Notification" />
  </feature>
  <preference name="phonegap-version" value="cli-5.2.0" />
  <preference name="permissions" value="none"/>
  <preference name="orientation" value="default"/>
  <preference name="target-device" value="universal"/>
  <preference name="fullscreen" value="true"/>
  <preference name="webviewbounce" value="true"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="ios-statusbarstyle" value="black-opaque"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-build-tool" value="ant" />
  <preference name="android-installLocation" value="auto"/>
  
  <gap:plugin name="org.apache.cordova.battery-status"/>
  <gap:plugin name="org.apache.cordova.camera"/>
  <gap:plugin name="org.apache.cordova.media-capture"/>
  <gap:plugin name="org.apache.cordova.console"/>
  <gap:plugin name="org.apache.cordova.contacts"/>
  <gap:plugin name="org.apache.cordova.device"/>
  <gap:plugin name="org.apache.cordova.device-motion"/>
  <gap:plugin name="org.apache.cordova.device-orientation"/>
  <gap:plugin name="org.apache.cordova.dialogs"/>
  <gap:plugin name="org.apache.cordova.file"/>
  <gap:plugin name="org.apache.cordova.media"/>
  <gap:plugin name="org.apache.cordova.network-information"/>
  <!--<gap:plugin name="org.apache.cordova.splashscreen"/>-->
  <gap:plugin name="org.apache.cordova.vibration"/>
  <gap:plugin name="org.apache.cordova.geolocation"  />
  <gap:plugin name="cordova-plugin-x-socialsharing" source="npm" />
  <!--<gap:plugin name="nl.x-services.plugins.socialsharing" source="plugins.cordova.io" />-->
  <gap:plugin name="org.devgeeks.canvas2imageplugin" version="0.6.0" />
<!--  <gap:plugin name="com.dawsonloudon.videoplayer" version="1.0.0" />-->
  <gap:plugin name="com.moust.cordova.videoplayer" version="1.0.0" />

  <icon src="icon.png"/>
  <icon src="icon.png" gap:platform="android" gap:qualifier="ldpi"/>
  <icon src="icon.png" gap:platform="android" gap:qualifier="mdpi"/>
  <icon src="icon.png" gap:platform="android" gap:qualifier="hdpi"/>
  <icon src="icon.png" gap:platform="android" gap:qualifier="xhdpi"/>
  
  <icon src="icon.png" gap:platform="blackberry"/>
  <icon src="icon.png" gap:platform="blackberry" gap:state="hover"/>
  <icon src="icon.png" gap:platform="ios" width="57" height="57"/>
  <icon src="icon.png" gap:platform="ios" width="72" height="72"/>
  <icon src="icon.png" gap:platform="ios" width="114" height="114"/>
  <icon src="icon.png" gap:platform="ios" width="144" height="144"/>
  
  <icon src="icon.png" gap:platform="webos"/>
  <icon src="icon.png" gap:platform="winphone"/>
  <icon src="icon.png" gap:platform="winphone" gap:role="background"/>
  <gap:splash src="splash.png" />
<!--<gap:splash src="ldpi.png" gap:platform="android" gap:qualifier="ldpi" />-->
<gap:splash src="mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
<gap:splash src="hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
<!--<gap:splash src="xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
<gap:splash src="fr-xhdpi.png" gap:platform="android" gap:qualifier="fr-xhdpi" />
<gap:splash src="portrait-xxhdpi.png" gap:platform="android" gap:qualifier="port-xxhdpi" />
<gap:splash src="landscape-xxhdpi.png" gap:platform="android" gap:qualifier="land-xxhdpi" />-->
  <access origin="*"/>
  <plugin name="cordova-plugin-whitelist" />
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
  <feature name="Camera">
    <param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
 </feature>
 <feature name="http://api.phonegap.com/1.0/media"/>
 <feature name="http://api.phonegap.com/1.0/file"/>
 <feature name="File">
      <param name="android-package" value="org.apache.cordova.FileUtils" />
 </feature>
 <feature name="Media">
    <param name="android-package" value="org.apache.cordova.media.AudioHandler" />
</feature>
<feature name="Media">
    <param name="ios-package" value="CDVSound" />
</feature>
 <feature name="FileTransfer">
      <param name="android-package" value="org.apache.cordova.FileTransfer" />
 </feature>
</widget>
